PORT=3000
AUTH_SERVICE_URL=http://localhost:4001
ADMIN_SERVICE_URL=http://localhost:5000
MARKETIQON_SERVICE_URL=http://localhost:4101
BUYLA_SERVICE_URL=http://localhost:4102
LEDGIRA_SERVICE_URL=http://localhost:4103
TRIPORA_SERVICE_URL=http://localhost:4104
FOODELT_SERVICE_URL=http://localhost:4105
GAMORAX_SERVICE_URL=http://localhost:4106
STOXENOVA_SERVICE_URL=http://localhost:4107
CREALOOMA_SERVICE_URL=http://localhost:4108
