SERVICE_NAME=auth-service
PORT=4001
DB_HOST=localhost
DB_PORT=5432
DB_NAME=billion_sphere_db
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=1h
TEST_USER_EMAIL=test@gmail.com
TEST_USER_PASSWORD=test@123
TEST_USER_ROLE=user
